# Basic data processing
numpy==2.3.0
pandas==2.3.0

# Excel file processing
openpyxl==3.1.2  # Modern Excel (.xlsx) files
xlsxwriter==3.1.2  # Advanced Excel writing

# CSV processing

# Data validation and schema
pydantic==2.11.4  # Data validation using Python type annotations

# Character encoding detection and handling
chardet==5.2.0
unidecode==1.3.6  # ASCII transliterations of Unicode text

# Development tools
black==24.3.0    # Code formatting
mypy==1.16.0      # Type checking

seaborn==0.13

# Kernel
ipykernel==6.29.5

# beautifulsoup4 
beautifulsoup4==4.13.4
inscriptis==2.6.0